.background{
    background: linear-gradient(to right ,navy, navy , navy);
}
.active{
    border-bottom: 2px solid white;
    /* background: gray !important; */
}
.card-title{
    font-size: 1rem;
    height: 90px;
}
.source-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}
.source-date p{
    font-size: .7rem;
}

.card-text{
    font-size: .9rem;
    height: 230px;
}

@media only screen and (min-width:0)and(max-width:575px) {
    .card-text{
        height: 80px;
    }
    .card-title{
        height: 40px;
    }
}
@media only screen and (min-width:576px)and(max-width:767px) {
    .card-text{
        height: 150px;
    }
    .card-title{
        height: 60px;
    }
}
@media only screen and (min-width:768px)and(max-width:1199px) {
    .card-text{
        height: 80px;
    }
    .card-title{
        height: 40px;
    }
}